@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    display: flex;
    width: 200%; /* Adjust as needed to ensure seamless scrolling */
    animation: scroll 30s linear infinite;
  }
  